
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.logo-img {
  background: url('../images/myquery-logo.png');
  width: 128px;
  height: 32px;
  background-size: 128px 32px;
  background-repeat: no-repeat;
  background-position: center;
}
